altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
gevent==23.9.1
greenlet==3.0.1
grequests==0.7.0
idna==3.6
importlib-metadata==6.8.0
packaging==23.2
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
requests==2.31.0
simplejson==3.19.2
urllib3==2.1.0
validators==0.22.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
